$fonts-headline: Arial, sans-serif;
$fonts-body: 'Roboto', arial, sans-serif;
$text-dark: #333;
$text-light: #fff;
$lightBlue: #B4D9D9;
$midBlue: #539DA6;
$darkBlue: #0E1F26;
$lightOrange: #F2AA6B;
$darkOrange: #D9753B;