body {
    padding: 5rem;
    font-size: 1.3em;
}

.alert-paragraph {
    display: flex;
}
.alert {
    border: 3px solid red;
    border-radius: 50%;
    padding: 10px;
    max-width: fit-content;
    max-height: 30px;
    align-items: center;
}

hr {
    border-left: 2px solid gray;
    background: gray;
    margin: 1em;
}

h1, h2, strong {
    font-family: sans-serif;
}

h1, h2 {
    margin-bottom: 0;
}

.paragraph {
    margin-top: .1em;
}